body{
background-image: url(../../images.jpg);
}
@font-face {
  font-family: 'Digital7';
  src: url(../../SevenSegmentiments-ywMVM.ttf) format('woff2');
}

.segmented-text {
  font-family: 'Digital7', monospace;
  font-size: 48px;
  color: #ff0000;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.5)
}
.main{
	border: none;
	border-radius: 10px;
	width: 300px;
	padding: 15px 100px 30px 10px;
	margin: 200px auto;
	display: flex;
	background: rgb(40, 40, 106, 0.5);
	justify-content: space-between;
	font: 
}
.score{

	margin: 20px 0px;
	width: 120px;
	height: 85px;
	background: black;
	justify-content: space-between;
	border-radius: 10px;
	font-family: 'Digital7' ,monospace;
	display: flex;
	justify-content: center;
	align-items: center;

}
h1{
	margin-left: 10px;
}
h1 ,button, h2{
	color: white;
}button{
	background: rgb(40, 40, 106, 0.15);
	padding: 4px 8px;
	border: 1px solid white;
	margin-right: 3px;
	border-radius: 4px;
	font-family: '', monospace;
	transition: scale 1.1s ease-in-out;

}
.h2{
	width:fit-content;
	height: fit-content;

	
}
.fscore{
	color: #ff0000;
	font-size: 35px;
}
button:hover{
	transform: scale(1.1);
	cursor: pointer;
}
.reset{
	width: fit-content;
	height: fit-content;
	display: block;
	margin: 0px;
	margin-right: 10px;
	border: 1px solid rgb(255, 255, 255);

}
.smain{
	padding: 30px;
	padding-left: 20px;
	display: flex;
	justify-content: center;
	gap: 40px;
	border: 1px solid black;

}
.winner{
	color: #F9D71C !important;
	text-shadow: 0 0 10px #F9D71C;
}
